<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceUser" maxReceivedMessageSize="2097152" />
                <binding name="BasicHttpBinding_IServicePatient" maxReceivedMessageSize="2097152" />
                <binding name="BasicHttpBinding_IServiceObservation" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IServiceLive" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3055/ServiceUser.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceUser" contract="ServiceUserReference.IServiceUser"
                name="BasicHttpBinding_IServiceUser" />
            <endpoint address="http://localhost:3055/ServicePatient.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicePatient"
                contract="ServicePatientReference.IServicePatient" name="BasicHttpBinding_IServicePatient" />
            <endpoint address="http://localhost:3055/ServiceLive.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IServiceLive" contract="ServiceLiveReference.IServiceLive"
                name="WSDualHttpBinding_IServiceLive">
                <identity>
                    <userPrincipalName value="DESKTOP-U3JBA80\Mickael AU" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:3055/ServiceObservation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceObservation"
                contract="ServiceObservationReference.IServiceObservation"
                name="BasicHttpBinding_IServiceObservation" />
        </client>
    </system.serviceModel>
</configuration>