<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceUser" maxReceivedMessageSize="2097152"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3055/ServiceUser.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceUser" contract="ServiceUserReference.IServiceUser"
                name="BasicHttpBinding_IServiceUser" />
        </client>
    </system.serviceModel>
</configuration>